.hero {
	position: relative;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.overlay {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 20px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 40%, transparent 100%);
	text-align: center;
	display: flex;
	justify-content: end;
	flex-direction: column;
}

.page-about .hero {
	height: 100%;
}

.overlay h1 {
	color: white;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 12px;
	flex-wrap: wrap;
}

.buttons button {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s;
}

.buttons button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.about {
	text-align: center;
}

.about h4 {
	font-size: 18px;
}

.about p {
	font-size: 52px;
	font-family: var(--font-headline);
	line-height: 120%;
	font-weight: 500;
	max-width: 1174px;
	margin: 0 auto;
}

/* ===== БЛОК "ПРАВИЛА И МЕРОПРИЯТИЯ" ===== */
.rules-events {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	align-items: flex-start;
}

.rules-events img {
	width: 100%;
	max-width: 500px;
	border-radius: 20px;
}

.rules-text {
	display: flex;
	flex-direction: column;
	align-self: center;
	flex: 1;
	min-width: 280px;
}

.rules-text h2 {
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 20px;
	line-height: 120%;
	max-width: 560px;
	font-family: var(--font-headline);
}

.rules-text p {
	font-size: 18px;
	line-height: 120%;
	margin-bottom: 20px;
	max-width: 600px;
}

.rules-text a {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	flex: 0;
	width: 113px;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px solid currentColor;
}

.rules-text a img {
	border-radius: 0;
	max-width: 12px;
}

.events {
	display: flex;
	column-gap: 162px;
}

.events h2 {
	color: #090714;
	font-family: var(--font-headline);
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
}

.events p {
	max-width: 600px;
	font-size: 18px;
	font-weight: 400;
	line-height: 110%;
}

/* ===== SWIPER СЛАЙДЕР ===== */
.slider-section {
	padding: 40px 0;
}

.slider-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;

}

.about-us-slider__content {
	display: flex;
	flex-direction: column;
	padding: 60px 0px;
	position: relative;
	z-index: 3;
}

.about-us-slider__content::before {
	content: '';
	position: absolute;
	top: 0;
	z-index: 0;
	left: -100%;
	width: 300%;
	height: 100%;
	background-color: #f9f9f9;
}

.slider-controls {
	position: relative;
	justify-content: start;
}

.about-us-slider__section {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

.slider-controls button,
.slider-controls select {
	background: none;
	border: none;
	font-size: 18px;
	padding: 14px 20px;
	font-weight: 400;
	cursor: pointer;
}

.about-us-slider-btn__block {
	display: flex;
	position: static !important;
}

.about-us-slider-btn__block .news-arrow {
	top: 0;
}

.slider-controls__block .slider-controls button.active {
	background: black;
	color: white;
	border-radius: 30px;
}

.slider-controls__block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.about-us__swiper.swiper {}

.about-us-slider-btn__block .news-prev {
	background-color: transparent;
}

.about-us-slider-btn__block .news-prev::before {
	border-color: black !important;

}

.about-us__swiper .swiper-slide {
	background: white;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: none;
}

.about-us__swiper .swiper-slide img {
	width: 100%;
	display: block;
}

.about-us__swiper .swiper-button-next,
.about-us__swiper .swiper-button-prev {
	background-color: #c82327;
	color: white;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	top: 50%;
	transform: translateY(-50%);
}

.about-us__swiper .swiper-slide {
	max-width: 540px;
}

.about-us__swiper .swiper-slide img {
	max-width: 540px;
}

@media(max-width: 1920px) {
	.about p {
		font-size: clamp(3rem, 2.5rem + 0.625vi, 3.25rem);
	}
}

@media(max-width: 1400px) {
	.about-us-slider__section {
		row-gap: 30px;
	}

	.about-us-slider__content {
		padding-top: 30px;
	}
}

@media(max-width: 1280px) {
	.about p {
		font-size: clamp(2.875rem, 2.375rem + 0.781vi, 3rem);
	}
}

@media(max-width: 1100px) {
	.events {
		flex-direction: column;
	}

	.slider-controls {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.about-us-slider-btn__block {
		position: absolute !important;
		right: 0 !important;
		justify-content: end !important;
		bottom: 5px !important;
	}

	.about-us-slider__content {
		padding: 40px 0px;
	}
}

@media(max-width: 1024px) {
	.about p {
		font-size: clamp(2.125rem, -0.125rem + 4.688vi, 2.875rem);
	}
}

@media (max-width: 600px) {
	.overlay h1 {
		font-size: 24px;
	}

	.buttons button {
		font-size: 12px;
		padding: 8px 16px;
	}
}

@media(max-width: 768px) {
	.about p {
		font-size: clamp(1.25rem, -1.106rem + 6.731vi, 2.125rem);
	}
}