.floor-nav {
	display: flex;
	gap: 10px;
	margin-bottom: 30px;
}

.floor-nav button {
	padding: 8px 16px;
	border: none;
	border-radius: 20px;
	background: #eee;
	cursor: pointer;
	font-size: 14px;
}

.floor-nav button.active {
	background: black;
	color: white;
}

.discount-card__block {
	display: flex;
	flex-direction: column;
}


.floor-section {
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.floor-section h2 {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 30px;
}

.discount-card__content:first-child {
	border-top: 1px solid #D9D9D9;
}

.discount-card__content {
	border-bottom: 1px solid #D9D9D9;
	padding: 16px 0px;

}

.discount-card__content p {
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
}

.discount-card__head {
	font-size: 20px;
	font-weight: 500;
	line-height: 120%;
	margin-bottom: 16px;
}

.discount-card__content,
.discount-card__head {
	display: flex;
	justify-content: space-between;
	column-gap: 60px;

}

.discount-card h3 {
	font-size: 16px;
	margin-bottom: 8px;
}

 

.discount-card__name,
.discount-card-head__name {
	flex: 1 1 400px;
}
.discount-card__description{
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}
.discount-card__description,
.discount-card-head__type {
	flex: 1 1 600px;
}

.discount-card__date,
.discount-card-head__date {
	flex: 1 1 520px
}

.discount-card .label {
	font-weight: bold;
	color: #555;
}

@media (max-width: 600px) {
	.discount-card {
		padding: 12px;
	}

	.floor-nav button {
		font-size: 13px;
		padding: 6px 12px;
	}
}



@media (max-width: 600px) {
	.floor-nav {
		flex-wrap: wrap;
	}

}