.contacts__grid {
	display: flex;
	gap: 40px;
	justify-content: space-between;
}

.contacts__title {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 24px;
	color: var(--text-primary);
}

.contacts__info {
	display: flex;
	flex-direction: column;
	flex: 1 1 948px;
	width: 100%;
	max-width: 948px;
}

.feedback {
	flex: 1 1 540px;
	width: 100%;
	max-width: 540px;
}

.contacts__block {
	display: flex;
	justify-content: start;
	padding: 30px 0px 28px 0px;
	border-top: 1px solid #301D0033;

}

.contacts__block:last-child {
	border-bottom: 1px solid #301D0033;
}

.contacts__block h3 {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 8px;
	color: #27231E;
	display: flex;
	align-self: start;
	align-items: center;
	justify-content: start;
	gap: 7px;
	flex: 1 1 357px;
	width: 100%;
	max-width: 357px;
}

.contacts__block h3::before {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--accent-red);
}

.contacts__address {
	font-size: 18px;
	font-weight: 400;
	line-height: 110%;
	color: #090714;
}

.contacts__block a {
	text-decoration: none;
}

.contacts__time {
	font-size: 18px;
	color: #27231E;
	font-weight: 500;
	line-height: 100%;
}

.contacts__label {
	font-size: 14px;
	font-weight: 500;
	color: #09071480;
}

.schedule__list {
	display: flex;
	width: 100%;
	justify-content: start;
	max-width: 597px;
	column-gap: 39px;
}

.schedule__item {
	width: 100%;
	max-width: 257px;
}

.schedule__item ul {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.schedule__item li {
	display: flex;
	flex-direction: column;
	row-gap: 2px;
}

.contacts__form form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.feedback-form input,
.feedback-form textarea {
	width: 100%;
	padding: 12px 16px;
	border: 1px solid var(--border-light);
	border-radius: 8px;
	font-size: 16px;
	font-family: inherit;
}

.form-note {
	font-size: 14px;
	color: var(--text-secondary);
}

.form-note a {
	color: var(--accent-red);
	text-decoration: underline;
}

.btn-submit {
	padding: 12px 24px;
	background-color: var(--accent-red);
	color: #fff;
	border: none;
	border-radius: 8px;
	font-weight: 500;
	cursor: pointer;
}

.feedback__container {
	max-width: 600px;
	margin: 0 auto;
}

.feedback__title {
	font-size: 32px;
	font-weight: 400;
	font-family: var(--font-headline);
	margin-bottom: 40px;
	color: var(--text-primary);
	text-transform: uppercase;
}


.feedback__form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.feedback__form input,
.feedback__form textarea {
	width: 100%;
	padding: 10px 0px 16px 0px;
	border-bottom: 1px solid var(--border-light);

	font-size: 16px;
	font-family: inherit;
	background-color: #fff;
	color: var(--text-primary);
}

.feedback__form textarea {
	resize: vertical;
	max-height: 50px;
	overflow: hidden;
}

.feedback__form textarea:focus,
.feedback__form input:focus {
	outline: none;
}

.feedback__note {
	font-size: 14px;
	color: var(--text-secondary);
	line-height: 1.4;
	max-width: 360px;
}

.section__body {
	display: flex;
	flex-direction: column;
	row-gap: 150px;
}

.route-map {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	flex: 0 1 840px;
}

.map__embed {
	height: 100%;
	width: 100%;
	background-color: #f2f2f2;
}

.map__embed iframe {
	height: 100%;
	background-color: #f2f2f2;
}
.departments .container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.ymaps-layers-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

[class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
}

.route-map__title {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: var(--font-headline);
	margin: 0;
}

.route-map__block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.feedback__note a {
	text-decoration: none;
	font-size: 14px;
}

.feedback__submit {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	padding: 18px 35px;
	background-color: #000;
	color: #fff;
	height: 55px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 16px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	max-width: 320px;
	text-transform: uppercase;
	justify-content: center;
}

.feedback__submit img {
	width: 16px;
	height: 16px;
}


.departments__title {
	font-size: 48px;
	font-weight: 400;
	font-family: var(--font-headline);
	color: var(--text-primary);
	text-transform: uppercase;
}

.departments {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	flex: 1 1 324px;
}

.departments__grid {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1087px;
	gap: 24px;
}

.departments__card {
	background-color: #f7f7f7;
	border-radius: 20px;
	padding: 20px;
	width: 100%;
	max-width: 534px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	gap: 8px;
}

.departments__card h3 {
	font-size: 18px;
	font-weight: 400;
	color: var(--text-primary);
	opacity: 0.7;
}

.departments__card a {
	font-size: 16px;
	color: #27231E;
	text-decoration: none;
	font-size: 24px;
	font-weight: 500;
}

.departments__card_email {
	border-bottom: 1px solid #27231E;
}

@media (max-width: 768px) {
	.contacts__grid {
		grid-template-columns: 1fr;
	}
}