.policy__content {
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.policy-section {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.policy-section h2 {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
}

.policy-section h3 {
	margin: 0;
	font-weight: 600;
}

.policy-text__block {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.policy__content ul p {
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;

}

.policy-section ul,
.policy-section ol {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	list-style-type: disc;
}

.policy-section ul li,
.policy-section ol li {
	margin-left: 30px;
}

@media(max-width: 1920px) {}

@media(max-width: 1440px) {}

@media(max-width: 1280px) {}

@media(max-width: 1024px) {}

@media(max-width: 768px) {}